.paragraph{
    font-family:Helvetica, sans-serif;
    color:green;
    font-size: 1.Srem;
}
#opening{
    font-size: Zrem;
}

#title{
    border: 1px solid red;
    border-radius: ;
    padding: 10px;
}

    